h1 {
      text-align: center;
    }
    table.middle {
      border-collapse: collapse;
      border: 1px solid black;
      margin: 10px auto;
    }
    table.middle td, table.middle th {
      border: 1px solid black;
      padding: 1px;
      border-spacing: 1px;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }
    .green {
      background-color: green;
    }
    .blue {
      background-color: blue;
    }